<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<!--
<style>
     /* Links */
     a:hover {
         color: #b6b84c;
     }
     /* Header Buttons on Startpage */
     a.btn {
          color: white;
          background-color: #dcd0d0;
     }
     a.btn:hover {
          background-color: #c08283;
     }
     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #b6b84c;
     }
     a.fn-item:hover {
          color: #ced067;
     }
     /* Content / Sections */
     .post-holder.odd {
          background: #373737;
          color: white;
     }
     .post-holder {
          background: #f4f4f4;
     }
     body {
          color: #373737;
     }
     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }
</style>
-->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "/images/icons/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "/images/icons/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "/images/icons/favicon-16x16.png" | absURL }}"
/>

<!-- this next one recommended after Google indexing -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->